# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
out-tsc/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env
.vscode/

# Prisma generated output but keep schema
prisma/generated/
!prisma/schema.prisma
